.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 270px;
  left: 132px;
}
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 220px;
  left: 369px;
}
#basket img {
  position: absolute;
  z-index: 5;
  top: 260px;
  left: 348px;
}
#ball + img {
  position: absolute;
  z-index: 4;
  top: 270px;
  left: 460px;
}
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 220px;
  left: 223px;
}